version: "3.9"

services:
  backend:
    build: ./backend        # points to backend folder
    container_name: backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    volumes:
      - ./backend:/usr/src/app
    networks:
      - hrms-network

  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - hrms-network

networks:
  hrms-network:

volumes:
  mongo-data:
